<div class="row">
  <div class="col-sm-6">
    <div class="quandrant well" #q1 [style.background]="color1" (click)="onClick(1)">
      q1
    </div>
  </div>
  <div class="col-sm-6" >
    <div class="quandrant well" #q2 [style.background]="color2" (click)="onClick(2)">
      q2
    </div>
  </div>
  <div class="col-sm-6">
    <div class="quandrant well" #q3 [style.background]="color3" (click)="onClick(3)">
      q3
    </div>
  </div>
  <div class="col-sm-6">
    <div class="quandrant well" #q4 [style.background]="color4" (click)="onClick(4)">
      q4
    </div>
  </div>

  <div>{{score}}</div>
</div>